.cl_pink {
    background-color: #e9cbd2;
}

.cl_blue {
    background-color: #d7e7ea;
}

.cl_green {
    background-color: #ddecce;
}
.container{
    text-align: center;
    padding: 20px;
}

.main_img{
    margin: 20px 0 40px 0;
    border: 1px #666666 solid;
}