.cl_pink {
    background-color: #e9cbd2;
}

.cl_blue {
    background-color: #d7e7ea;
}

.cl_green {
    background-color: #ddecce;
}

.cl_pink2 {
    background-color: #e7b7d4;
}

.cl_yellow {
    background-color: #e8dd89;
}
.container{
    text-align: center;
    padding: 20px;
}

.main_img{
    margin: 0 0 40px 0;
    border: 1px #666666 solid;
    /* 幅が400未満のときに引き伸ばす */
    width: 100%; 
    max-width: 400px;
}

#cv{ 
    width: 100%; 
    border:1px solid #666666;
    max-width: 400px;
}

.message_font{
    font-family: 'Kosugi Maru', sans-serif;
}

button{
    width: 140px;
}

.card{
    margin: 30px 0 30px 0;
    text-align: left;
}
